{% extends 'base.html' %}
{% block content %}
    {% for nombre in doc %}
    <nav>
        <ul>
            <div>
                <section id="contenido">
                    <li>
                        <h2> <a href="{% url 'detalleJuego' nombre.pk %}"> {{ nombre.juego }}</a> </h2>
                    </li>
                    <li>
                        <p> {{ nombre.edades }} </p>
                    </li>
                    <li>
                        <p> {{ nombre.descripcion }} </p>
                    </li>     
                </section>
                <div class="sube"></div> 
            </div>
    
            
                <img src= {{ nombre.fotos }}  style="width: 200px;height: 200px;">
            
    

        </ul>
    </nav>
        
        
    {% endfor %}



{% endblock content %}